.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.topRow {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header {
  border-radius: 8px;
  margin-top: 1em;
  flex: 0 0 auto;
  white-space: nowrap;
  font-family: Montserrat, sans-serif;
  font-weight: 800;
  font-size: 14px;
  background: #ffffff;
  border: 3px solid #000000;
  box-shadow: 6px 6px 0 #000000;
  padding: 6px 10px;
  width: max-content;
  color: #494949;
}
/* test */

.grid {
  display: flex;
  flex: 1 1 auto;
  flex-wrap: wrap;
  gap: 14px;
  align-items: stretch;
  min-width: 1000px;
  max-width: 1100px;
}

.item {
  flex: 0 1 auto;
}

.empty {
  display: flex;
  justify-content: center; /* horisontal sentrering */
  align-items: center; /* vertikal sentrering */

  text-align: center;
  border-radius: 8px;
  min-height: 300px;
  font-family: Montserrat, sans-serif;
  font-size: 36px;
  font-weight: 800;
  background: #fff;
  border: 3px solid #000000;
  box-shadow: 6px 6px 0 #000000;
  padding: 10px 12px;
  color: #000000;
}
